<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Date Pipe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="slice">
      <section class="main">
        <h3 style="text-align: center">Slice Pipe</h3>
        <p>Start index:- {{ Fruits | slice: 2 }}</p>
        <br />
        <p>Start and End index:- {{ Fruits | slice: 1:4 }}</p>
        <br />
        <p>Negative index:- {{ Fruits | slice: -2 }}</p>
        <br />
        <p>Negative start and End index:- {{ Fruits | slice: -4:-2 }}</p>
      </section>
    </div>
    <div class="decimal" style="text-align: center">
      <h3>
        Decimal Pipe
        <p>{{ decimalNum1 | number }}</p>
        <p>{{ decimalNum2 | number }}</p>
      </h3>
    </div>
  </body>
</html>
